body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: rgb(67,187,200);
    background: linear-gradient(183deg, rgba(67,187,200,1) 77%, rgba(36,141,171,1) 100%);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77d9d9 3px solid;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}

#branding {
    text-align: center;
}

#branding img {
    position: relative;
    z-index: 2;
}

header nav {
    float: right;
    margin-top: 10px;
}

.logo-circle {
    height: 500px;
    width: 500px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -230px;
    left: 4%;
    z-index: 1;
}

.call-us {
    float: right;
    background-image: url(images/call_us.png);
}

.call-us img {
    width: 100%; /* Adjust width as needed */
    height: auto;
}
#showcase {
    min-height: 400px;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}
#showcase h1 {
    font-size: 55px;
    margin-top: 0;
}
#showcase p {
    font-size: 20px;
}
#about, #services, #contact {
    padding: 20px;
}
#services .service {
    border: 1px solid #e1e1e1;
    padding: 20px;
    margin: 20px 0;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}